$dark: #001f2b;
$secondary: #00415a;
$enable-responsive-font-sizes: true;
@import '~bootstrap/scss/bootstrap';
@import './defaults';

html,
body {
  background-color: $color-body-bg;
  color: $color-body-text;
  font-family: $system-fonts;
  height: 100%;
}

.page-wrapper {
  height: 100%;
}
