@import './fonts';

$color-body-bg: #00415a;
$color-body-text: #efefef;
$color-text-highlight: #ffe770;
$system-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-date: 'Special Elite';
$font-text: 'Oswald';

* {
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility !important;
}

html,
body {
  background-color: $color-body-bg;
  color: $color-body-text;
  font-family: $system-fonts;
  height: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  font-family: $font-text;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: .8rem;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 2rem;
}

h2 {
  color: $color-text-highlight;
  font-family: $font-date;
  font-size: 8rem;
  text-align: center;
}

.invisible {
  visibility: hidden;
}
