// @import "~bootswatch/dist/superhero/_variables"; // replace superhero with bootswatch theme of choice
$dark: #001f2b;
$secondary: #00415a;
$enable-responsive-font-sizes: true;
@import '~bootstrap/scss/bootstrap';
// @import "~bootswatch/dist/superhero/_bootswatch"; // replace superhero with bootswatch theme of choice
@import './fonts';

$color-body-bg: #121212;
$color-body-text: #efefef;
$color-text-highlight: #ffe770;
$system-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-date: 'Special Elite';
$font-text: 'Oswald';

* {
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility !important;
}

html,
body {
  background-color: $color-body-bg;
  color: $color-body-text;
  font-family: $system-fonts;
  height: 100%;
}

.page-wrapper {
  height: 100%;
}

.heading-wrapper {
  margin-bottom: 8rem;

  h1 {
    display: inline-block;
  }

  .nys-image {
    height: auto;
    margin-left: 2rem;
    margin-top: 1rem;
    max-width: 10rem;
    width: 100%;
  }
}

.card-wrapper {
  h2 {
    font-family: $font-text;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .8rem;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2rem;
  }

  h3 {
    font-size: 10rem;
    font-weight: 700;
    text-align: center;
  }
}
